main {
    width:100vw;
    height:1000px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
main > #board_contents_list{
    width:100%;
    height:50px;
    margin-top: 50px;
    display:flex;
}
@media(width<=430px){
    #board_contents_list{
        display:none;
    }
    
}
#board_contents_list > div , .notice_list a{
    color:black;
    
}
#board_contents_list > div{
    font-size: calc(0.8vw + 7px);
    font-weight: bold;
    width:20vw;
    height:100%;
    border:1px solid rgb(180, 180, 180);
    display:flex;
    align-items: center;
    justify-content: center;
    border-right: none;
}
#board_contents_list > div:hover{
    background-color: rgb(96, 151, 243);
    color:white;
    scale:1.05;
    cursor: pointer;
    
}
main > #board_container{
    height:1000px;
    width:90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#board_container > #searchBox{
    margin-top: 100px;
    width:90%;
    display: flex;
    justify-content: end;
}
#searchBox > input{
    height:20px;
    border:1px solid rgba(128, 128, 128, 0.438);
    border-radius:3px;
}
#searchBox > input:hover{
    animation : inputBorderColorChange 0.3s;
    animation-fill-mode:both;

}
@keyframes inputBorderColorChange{
    from{}
    to{
        border-color:rgb(96, 151, 243)
    }
}
#searchBox > input:focus{

  /* input 영역을 focus했을 때 검은 경계선이 활성화되는데 
  border 이외에도 outline이라는 개념이 있다. */
  outline: none;
  animation : inputAreaColorChange 0.3s;
  animation-fill-mode: both;

}
@keyframes inputAreaColorChange{
    from{}
    to{ 
        box-shadow: 0px 0px  0px 2px rgba(91, 150, 245, 0.541);
        border-color:rgb(96, 151, 243);
    }
}

#board_container > #board_title{

    height:50px;
    width:90%;
    display:flex;
    justify-content: space-between;
    
}
#board_title > #board_title_name{
    font-size:calc(1vw + 15px);

}
#board_title > #notice_listAmountPerPage{
    width:180px;
    height:30px;
    display: flex;
    justify-content: space-between;
    align-items: end
    
}
#notice_listAmountPerPage > label{
    font-size: 14px;
    
}
#notice_listAmountPerPage > select{
    outline: none;
    border:1px solid rgba(128, 128, 128, 0.438);
}
#board_container > #board_main{
    width:90%;
    height:auto;
    display:block;

}

#board_main> #notice_list_box{
    width:100%;
    height:100%;

}
#notice_list_box> .notice_list{
    width:100%;
    height:30px;
    border-bottom:1px solid rgb(180, 180, 180);
    display: flex; 
    text-align: center;
    line-height: 30px;
    font-size: 12px;
}
#notice_list_box > .notice_list:hover{
    background-color: rgba(131, 138, 240, 0.151);
}
#board_main > #board_main_head{
    width:100%;
    height:30px;
    border-bottom:1px solid rgb(180, 180, 180);
    border-top:1px solid rgb(59, 59, 59);
    display: flex;
}
#board_main_head  *{

text-align: center;
line-height: 30px;
}
.No{
    width:5%;
}
.title{
    width:50%;
}
.author{
    width:15%;color :  rgb(114, 108, 108);
}
.typed_time{
    width:15%;color :  rgb(114, 108, 108);
}
.like{
    width:15%;color :  rgb(114, 108, 108);
}


#button_box button{
    margin:50px 0px;
    font-size: 11px;
    font-weight: 600;
    width:60px;
    height:25px;
    border-radius: 10px;
    border:1px solid rgb(128, 127, 127);
} 

#button_box button:hover{
    box-shadow: 1px 1px 5px 1px gray;
    scale:1.1;
}
#board_container > #page_nav{
    margin-top:20px;
    height:30px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:300px;
}
#page_nav > #page_number_box{
    font-family:dongle;
    width:250px;
    display:flex;
    justify-content: center;

}
#page_number_box > a{
    margin: 0px 4px;
}
#page_nav > p{
    margin:0px 10px 0px 10px;
    cursor: pointer;
}
body::-webkit-scrollbar{
    display:none;
}