.container{
    width:100%;
    height:100%;
    margin-top: -40px;
    background-color: rgb(26, 25, 25);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.box > p:nth-child(1){
    font-size: 60px;
    font-weight: bold;
    margin-top:150px;
    /* color:white; */
    color:black;
}
.box > p:nth-child(2){
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px;
    /* color:white; */
    color:black;
}
.box > p:nth-child(3){
    font-size: 18px;
    margin-top: 15px;
    /* color:white; */
    color:black;

}
.box{
    width:100%;
    height:1080px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(250, 238, 222);

}
.box1{
    background-color: white;
    height:860px;
    justify-content: center;
    align-items: center;
}
.contentBox1{
    width:1440px;
    display:flex;
    justify-content: center;
    height:70%;
    position: sticky;
    top:2500px;
}
.contentBox1 > div:nth-child(1){
    width:55%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: end; 
}
.contentBox1 > div:nth-child(1) > img{
    padding-right:50px
}
.contentBox1 > div:nth-child(2){
    width:45%;
    height:100%;
    padding-left:100px;
}
.contentBox1 > div:nth-child(2) > div{
    width:100%;

}
.contentBox1 > div:nth-child(2) > div > p:nth-child(1), p:nth-child(2){
    /* color:white; */
    color:black;
    font-size: 40px;
    font-weight: bold;
}
.contentBox1 > div:nth-child(2) > div > p:nth-child(3) p:nth-child(4){
    font-size: 20px;
    /* color:rgb(164, 171, 181); */
    color:rgb(115, 119, 126);
}
.contentBox2{
    display:flex;
    justify-content: center;
    width:1280px;
    height:70%;
}
.contentBox2 > div:nth-child(1){
    width:50%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.contentBox2 > div:nth-child(2){
    width:50%;
    height:100%;
    display:flex;
    justify-content: center;
}
.imgBoxss{
    width:100%;
    display: flex;
    justify-content: space-around;
}
.imgBoxs{
    display: flex;
    justify-content: space-around;
    align-items: end;

}
.imgBoxl{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.img >img{
    width:136px;
    height:136px;
    border-radius: 150px;
    padding:5px 5px;
}
.after::after{
    content: "";
    position: absolute;
    margin-top: -240px;
    width: 100%;
    height: 430px;
    background-image: linear-gradient(0,rgb(250, 238, 222) 10%,rgba(250, 238, 222, 0.83) 45%,rgba(250, 238, 222, 0.15) 90%,rgba(250, 238, 222, 0));
    /* background-image: linear-gradient(0,rgb(0, 0, 0) 10%,rgba(0, 0, 0, 0.83) 45%,rgba(0, 0, 0, 0.15) 90%,rgba(0, 0, 0, 0)); */

}
.pzImg1{
    position: absolute;
    top:100px;
    left:-100px
}
.pzImg2{
    position: absolute;
    top:100px;
    left:200px;
}
.pzImg3{
    position: absolute;
    left:-180px;
    top:350px;
}
.pzImg4{
    position: absolute;
    top:400px;
    left:150px;
}

